<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overengineered Calculator</title>

</head>
<body>
    <div class="container">
        <h1>Overengineered Calculator</h1>

        <form class="calculator-input">
            <input type="text" name="textInput" id="textInput" class="large-input" (input)="calculate()">
        </form>

        <h3>Result: {{ result }}</h3>
        <button class="my-button" (click)="save_calculation()">Save Calculation</button>

        <div class="previous-calculations">
            <h2>Previous Calculations</h2>
            <ul #listContainer class="no-bullets">
                <!-- List items will be appended here by JavaScript -->
            </ul>
        </div>

        <p class="info-text">This calculator knows:<br>The answer to the ultimate question of life, the universe, and everything</p>
    </div>
</body>
</html>
